!!!
html
  head
    title Nate Good: Software Engineering, Product Development
    link(href='http://fonts.googleapis.com/css?family=Petrona', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:200', rel='stylesheet', type='text/css')
    link(href='/assets/css/base.css', rel='stylesheet', type='text/css')
  body
    header
      h1 Nate Good: A Software Engineer's Core Dump
    nav ls /
      ul
        li
          a(href='/') /home/nate
        li
          a(href='/home/nate/posts') /home/nate/posts
        li
          a(href='/dev/random') /dev/random
    div#guts
      block content
    footer
      block footer
    script(type="text/javascript")
      var analyticsAccount = "#{conf.analytics.account}";
      var domain = "#{conf.analytics.domain}";

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', analyticsAccount]);
      _gaq.push(['_setDomainName', domain]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();