extends base

//- block header
//-   svg.face(style="margin-top: 40px")

block content
  p(style="margin-top: -60px;") !{intro}
  style(type="text/css").
    @import url("/assets/css/face.css");
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="/assets/js/face.js")
